<h1 id="titre"><span class="glyphicon glyphicon-stats"></span> {{titre}}</h1>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Vélo en Europe">
        <md-content class="md-padding">
			<highchart id="chart1" config="chartNombreVelibEurope"></highchart>
        </md-content>
    </md-tab>
    <md-tab label="Vélo à Paris">
        <md-content class="md-padding">
        </md-content>
    </md-tab>
    <md-tab label="Graphe 3">
        <md-content class="md-padding">
          
        </md-content>
    </md-tab>
</md-tabs>


