<h1 id="titre"><span class="glyphicon glyphicon-globe"></span> {{titre}}</h1>

<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Vélib / Ma position" md-on-select="selectCarteVelibPosition()">
        <md-content class="md-padding" ng-if="carteVelibMaPostionSelected">
        	<cartevelibmaposition></cartevelibmaposition>
        </md-content>
    </md-tab>
    <md-tab label="Vélib En Europe" md-on-select="selectCarteVelibEurope()">
        <md-content class="md-padding" ng-if="carteVelibEuropeSelected">
        	<cartevelibeurope></cartevelibeurope>
        </md-content>
    </md-tab>
</md-tabs>
