<h1 id="titre"><span class="glyphicon glyphicon-plus-sign"></span> {{titre}}</h1>
<br><br>
<div class="row panel panel-default text-center">
    <div class="panel-body">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Type Graphe</label>
                <md-select ng-model="chartTypeSelected">
                    <md-option ng-repeat="chartType in chartTypes" ng-value="{{chartType}}">
                        {{chartType.id}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-sm-2">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Chart Series</label>
                <md-select ng-model="chartSerieSelected">
                    <md-option ng-repeat="chartSerie in chartSeries" ng-value="{{chartSerie}}">
                        {{chartSerie.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-sm-2">
            <md-input-container>
                <label>Title</label>
                <input ng-model="chartTitleSelected">
            </md-input-container>
        </div>
        <div class="col-sm-2">
            <md-button class="md-raised md-warn" ng-click="creerGraphique()">
                <span class="glyphicon glyphicon-stats"></span>
                Créer
            </md-button>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<highchart id="chart1" config="creerChart"></highchart>
