<h1 id="titre"><span class="glyphicon glyphicon-info-sign"></span> {{titre}}</h1>

<div class="container">
	<div class="panel panel-default">
		<h4 id="titre">Ce jeu de données donne les disponibilités en temps réel des stations Vélib.</h4>
		<h4 id="titre">La mise à jour est faite à la minute.</h4>
		<br>
		<h4 id="titre">
			Pour avoir accès aux données Velib en direct, accédez à l'API velib à 
			<a href="https://developer.jcdecaux.com/">https://developer.jcdecaux.com/</a>
		</h4>
		<br><br>
		 <img src="/assets/img/opendatasoft-logo.svg" class="img-responsive">
		 <br>
		 <h4 id="titre"> 
			<a href="http://opendata.paris.fr/terms/terms-of-use/" target="_blank">Conditions d'utilisation</a>
		</h4>
	</div>
</div>
